x-shared: &shared
  image: n8n-puppeteer:${N8N_VERSION}
  privileged: true
  environment:
    - WEBHOOK_URL=${N8N_WEBHOOK_URL}
    - GENERIC_TIMEZONE=Europe/Bucharest
    - NODE_ENV=production
    - N8N_ENCRYPTION_KEY=LnGMcaSProKXaI5PzXA0N8sLxJ3P2X17
    - N8N_COMMUNITY_PACKAGES_ALLOW_TOOL_USAGE=true
    - NODE_OPTIONS=--max-old-space-size=2048
    - EXECUTIONS_MODE=queue
    - NODE_FUNCTION_ALLOW_EXTERNAL=*
    - EXECUTIONS_QUEUE=redis
    - QUEUE_HEALTH_CHECK_ACTIVE=true
    - QUEUE_BULL_REDIS_HOST=n8n_redis
    - QUEUE_BULL_REDIS_PORT=6379
    - DB_TYPE=postgresdb
    - DB_POSTGRESDB_HOST=n8n_pgdb
    - DB_POSTGRESDB_DATABASE=${DB_POSTGRESDB_DATABASE}
    - DB_POSTGRESDB_USER=${DB_POSTGRESDB_USER}
    - DB_POSTGRESDB_PASSWORD=${DB_POSTGRESDB_PASSWORD}
    - EXECUTIONS_DATA_SAVE_ON_SUCCESS=${EXECUTIONS_DATA_SAVE_ON_SUCCESS}
    - EXECUTIONS_DATA_SAVE_ON_ERROR=${EXECUTIONS_DATA_SAVE_ON_ERROR}
    - EXECUTIONS_DATA_SAVE_MANUAL_EXECUTIONS=${EXECUTIONS_DATA_SAVE_MANUAL_EXECUTIONS}
    - EXECUTIONS_DATA_PRUNE=${EXECUTIONS_DATA_PRUNE}
    - EXECUTIONS_DATA_MAX_AGE=${EXECUTIONS_DATA_MAX_AGE}
    - N8N_ENFORCE_SETTINGS_FILE_PERMISSIONS=${N8N_ENFORCE_SETTINGS_FILE_PERMISSIONS}
    - N8N_RUNNERS_ENABLED=${N8N_RUNNERS_ENABLED}
    - OFFLOAD_MANUAL_EXECUTIONS_TO_WORKERS=${OFFLOAD_MANUAL_EXECUTIONS_TO_WORKERS}
    - NODES_EXCLUDE=[]
  depends_on:
    - n8n_redis
    - n8n_pgdb
  links:
    - n8n_pgdb
    - n8n_redis
  volumes:
    - ./.n8n:/home/node/.n8n
  networks:
    - n8n_external
    - n8n_network
  restart: unless-stopped

services:
  n8n_pgdb:
    image: postgres:15
    environment:
      - POSTGRES_SHARED_BUFFERS=2GB
      - POSTGRES_MAINTENANCE_WORK_MEM=1GB
      - POSTGRES_EFFECTIVE_CACHE_SIZE=2GB
      - POSTGRES_WORK_MEM=64MB
      - POSTGRES_MAX_PARALLEL_WORKERS=10
      - POSTGRES_MAX_PARALLEL_WORKERS_PER_GATHER=5
      - POSTGRES_DB=${DB_POSTGRESDB_DATABASE}
      - POSTGRES_USER=${DB_POSTGRESDB_USER}
      - POSTGRES_PASSWORD=${DB_POSTGRESDB_PASSWORD}
    volumes:
      - ./postgres-data:/var/lib/postgresql/data
    networks:
      - n8n_network
    restart: always
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -h localhost -U ${DB_POSTGRESDB_USER} -d ${DB_POSTGRESDB_DATABASE}']
      interval: 5s
      timeout: 5s
      retries: 10
    ports:
      - "5432:5432"

  n8n_app:
    <<: *shared
    ports:
      - 5678:5678

  n8n_app_worker:
    <<: *shared
    command: worker --concurrency=10
    deploy:
      replicas: ${N8N_WORKER_REPLICAS}

  n8n_app_webhook:
    <<: *shared
    command: webhook
    depends_on:
      - n8n_app

  n8n_redis:
    image: redis:6-alpine
    volumes:
      - ./redis-data:/redis-data
    networks:
      - n8n_external
      - n8n_network
    restart: always

  gotenberg:
    image: gotenberg/gotenberg:8
    networks:
      - n8n_network

  # === QDRANT_SERVICES_START ===
  # === QDRANT_SERVICES_END ===

  # === NGINX_PROXY_MANAGER_SERVICES_START ===
  npm_app:
    image: 'jc21/nginx-proxy-manager:latest'
    restart: unless-stopped
    ports:
      - '80:80'
      - '443:443'
      - '81:81'
    environment:
      DB_POSTGRES_HOST: 'npm_pgdb'
      DB_POSTGRES_PORT: '5432'
      DB_POSTGRES_USER: 'npm'
      DB_POSTGRES_PASSWORD: 'npmpass'
      DB_POSTGRES_NAME: 'npm'
    volumes:
      - ./npm_data:/data
      - ./letsencrypt:/etc/letsencrypt
    depends_on:
      - npm_pgdb

  npm_pgdb:
    image: postgres:latest
    environment:
      POSTGRES_USER: 'npm'
      POSTGRES_PASSWORD: 'npmpass'
      POSTGRES_DB: 'npm'
    volumes:
      - ./npm_pgdata:/var/lib/postgresql/data
  # === NGINX_PROXY_MANAGER_SERVICES_END ===

networks:
  n8n_external:
    external: true
  n8n_network:
    driver: bridge

volumes:
  qdrant_storage:
